.*
!.gitignore
!backend/.pre-commit-config.yaml
!backend/.flake8
!backend/.vercel.json
backend/**/__pycache__/
backend/backend/static/
*.pyc

node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
