[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
drf-spectacular = "*"
black = "*"
flake8 = "*"
isort = "*"
django-cors-headers = "*"
pytest-django = "*"
model-bakery = "*"
django-allauth = "*"
dj-rest-auth = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.10"
